{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>Recette : {{ recipe.name }}</h1>

        {{ include('comment/_form.html.twig') }}

        <a class="btn btn-primary m-3" href="/">Retour</a>
    </div>
{% endblock %}
